[package]
name = "switcher"
version = "0.2.2"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = "1"
serde_json = "1"
serde_yaml = "0.8"
futures = "0.3"
tracing = "0.1"
tracing-futures = "0.2"
tracing-subscriber = "0.3"
graphql_client = { version = "0.10", features = ["reqwest"] }
reqwest = "0.11"
anyhow = "1"

[dependencies.tokio]
version = "1"
features = ["full"]
