jobs:
  build_checks:
    needs:
      - generate_matrix
      - update_flake
    runs-on: ubuntu-24.04
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          install_url: https://releases.nixos.org/nix/nix-2.32.1/install
      - name: Set up cachix
        uses: cachix/cachix-action@v16
        with:
          name: nobbz
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
          skipPush: true
      - name: Restore flake.lock
        uses: actions/download-artifact@v7
        with:
          name: flake_lock
      - name: Build the check
        run: nix build .#checks.x86_64-linux.${{ matrix.check }} --no-link
    strategy:
      fail-fast: false
      matrix:
        check: ${{fromJson(needs.generate_matrix.outputs.checks)}}
      max-parallel: 5
  build_flake:
    needs:
      - generate_matrix
      - update_flake
    runs-on: ubuntu-24.04
    steps:
      - name: Free diskspace
        uses: wimpysworld/nothing-but-nix@main
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          install_url: https://releases.nixos.org/nix/nix-2.32.1/install
      - name: Set up cachix
        uses: cachix/cachix-action@v16
        with:
          name: nobbz
          pathsToPush: result
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
      - name: Restore flake.lock
        uses: actions/download-artifact@v7
        with:
          name: flake_lock
      - name: Build everything
        run: nix build .#${{ matrix.package }}
    strategy:
      fail-fast: false
      matrix:
        exclude:
          - package: installer-iso
        package: ${{fromJson(needs.generate_matrix.outputs.packages)}}
      max-parallel: 5
  check_flake:
    continue-on-error: true
    needs:
      - generate_matrix
      - update_flake
    runs-on: ubuntu-24.04
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          install_url: https://releases.nixos.org/nix/nix-2.32.1/install
      - name: Restore flake.lock
        uses: actions/download-artifact@v7
        with:
          name: flake_lock
      - name: Run generic check
        run: nix flake check --keep-going
  generate_matrix:
    outputs:
      checks: ${{ steps.gen_checks.outputs.checks }}
      packages: ${{ steps.gen_packages.outputs.packages }}
    runs-on: ubuntu-24.04
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          install_url: https://releases.nixos.org/nix/nix-2.32.1/install
      - name: Generate flake.json
        run: nix flake show --json > flake.json
      - id: gen_packages
        run: |-
          packages=$(jq -c '.packages."x86_64-linux" | keys' < flake.json)
          printf "packages=%s" "$packages" >> "${GITHUB_OUTPUT}"
      - id: gen_checks
        run: |-
          checks=$(jq -c '.checks."x86_64-linux" | keys' < flake.json)
          printf "checks=%s" "$checks" >> "${GITHUB_OUTPUT}"
  push_update:
    needs:
      - update_flake
      - build_flake
      - build_checks
      - check_flake
    permissions: write-all
    runs-on: ubuntu-24.04
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Restore flake.lock
        uses: actions/download-artifact@v7
        with:
          name: flake_lock
      - name: Setup git
        run: |-
          git config user.email gitbot@nobbz.dev
          git config user.name "Git Bot"
      - env:
          GITHUB_TOKEN: ${{ secrets.TEST_TOKEN }}
        name: Create and merge PR
        run: |-
          git switch -c updates-${{ github.run_id }}
          git commit -am "flake.lock: Update"
          git push -u origin updates-${{ github.run_id }}
          PR="$(gh pr create \
            --assignee NobbZ \
            --base main \
            --body "Automatic flake update on $(date -Idate)" \
            --fill \
            --label bot \
            --title "Auto update $(date -Idate)")"
          gh pr merge "$PR" --merge --delete-branch
  update_flake:
    runs-on: ubuntu-24.04
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          install_url: https://releases.nixos.org/nix/nix-2.32.1/install
      - name: Setup git
        run: |-
          git config user.email gitbot@nobbz.dev
          git config user.name "Git Bot"
      - name: Update the flake
        run: nix flake update
      - name: Store flake.lock
        uses: actions/upload-artifact@v6
        with:
          name: flake_lock
          path: flake.lock
name: Updater
"on":
  schedule:
    - cron: 0 2 * * *
  workflow_dispatch: {}
