jobs:
  build_checks:
    needs:
      - generate_matrix
    runs-on: ubuntu-24.04
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          install_url: https://releases.nixos.org/nix/nix-2.32.5/install
      - name: Set up cachix
        uses: cachix/cachix-action@v16
        with:
          name: nobbz
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
          skipPush: true
      - name: Build the check
        run: nix build .#checks.x86_64-linux.${{ matrix.check }} --no-link
    strategy:
      fail-fast: false
      matrix:
        check: ${{fromJson(needs.generate_matrix.outputs.checks)}}
      max-parallel: 5
  build_flake:
    needs:
      - generate_matrix
    runs-on: ubuntu-24.04
    steps:
      - name: Free diskspace
        uses: wimpysworld/nothing-but-nix@main
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          install_url: https://releases.nixos.org/nix/nix-2.32.5/install
      - name: Set up cachix
        uses: cachix/cachix-action@v16
        with:
          name: nobbz
          pathsToPush: result
          signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
      - name: Build everything
        run: nix build .#${{ matrix.package }}
    strategy:
      fail-fast: false
      matrix:
        exclude:
          - package: installer-iso
        package: ${{fromJson(needs.generate_matrix.outputs.packages)}}
      max-parallel: 5
  check_flake:
    continue-on-error: true
    needs:
      - generate_matrix
    runs-on: ubuntu-24.04
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          install_url: https://releases.nixos.org/nix/nix-2.32.5/install
      - name: Run generic check
        run: nix flake check --keep-going
  generate_matrix:
    outputs:
      checks: ${{ steps.gen_checks.outputs.checks }}
      packages: ${{ steps.gen_packages.outputs.packages }}
    runs-on: ubuntu-24.04
    steps:
      - name: Clone Repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.TEST_TOKEN }}
      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |-
            auto-optimise-store = true
            access-tokens = github.com=${{ secrets.TEST_TOKEN }}
            experimental-features = nix-command flakes
            substituters = https://cache.nixos.org/ https://nix-community.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs=
          install_url: https://releases.nixos.org/nix/nix-2.32.5/install
      - name: Generate flake.json
        run: nix flake show --json > flake.json
      - id: gen_packages
        run: |-
          packages=$(jq -c '.packages."x86_64-linux" | keys' < flake.json)
          printf "packages=%s" "$packages" >> "${GITHUB_OUTPUT}"
      - id: gen_checks
        run: |-
          checks=$(jq -c '.checks."x86_64-linux" | keys' < flake.json)
          printf "checks=%s" "$checks" >> "${GITHUB_OUTPUT}"
name: Pull Request Checker
"on":
  pull_request: {}
